body {
    background-image: url(./img/pxfuel.com.jpg);
   }
    
.col-md-10 {
    background-color: rgba(240, 58, 95, 0.363);
}

.col-15 {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.col-sm {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
    